body{ 
    background-color: #f0e9e9;
}
h1 {
    font-family: "Ubuntu";
    margin-left: 28%;
    

}
#box2 {
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    width: 465px;
    height: 150px;
    background-color: #ffffff;
    background-attachment: fixed;
    font-size: 17px;
    padding: 30px;
    padding-top: 0px;
    margin-left: 120px;
    float: left;
    clear: left;
    font-family: "Poppins";
    
}
#box1 {
    border: 5px;
    font-family: "DM Sans";
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    width: 500px;
    height: 50px;
    margin-top: 0px;
    margin-left: 120px;
    float: left;
    padding-left: 25px;

}
#img1 {
     margin-left: 120px;
     margin-bottom: 0%;
     border-top-left-radius: 14px;
     border-top-right-radius: 14px;
}
#img2 {
    margin-right: 120px;
    margin-bottom: 0%;
    margin-left: 20px;
    border-top-left-radius: 14px;
     border-top-right-radius: 14px;
}
#p1 {
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffffff;
    margin-left: 678px;
    width: 474px;
    height: 180px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    font-family: "Poppins";
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 17px;
    
}
#head {
    border: 5px;
    font-family: "DM Sans";
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    margin-left: 678px;
    width: 499px;
    height: 50px;
    padding-left: 25px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    
}
#__ {
    clear: left;
    float: left;
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    width: 465px;
    height: 30px;
    background-color: #ffffff;
    background-attachment: fixed;
    font-size: 17px;
    padding: 30px;
    padding-top: 0px;
    margin-left: 120px;
    font-weight: bold;
    font-family:  sans-serif;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    
}

#tu {
    float: right;
    clear: right;
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    width: 464px;
    height: 20px;
    background-color: #ffffff;
    background-attachment: fixed;
    font-size: 17px;
    padding: 30px;
    padding-top: 0px;
    font-weight: bold;
    font-family:  sans-serif;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-right: 138px;
    margin-top: 0px;
    color: black;
}
#menubar {
    margin-top: 0px;
    border-bottom: 1px solid;
    border-style: solid;
    border-color: black;
    background-color: white;
    height: 75px;
    border-top: 0px;
    border-left: 0px; 
    border-right:0px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-weight: light;
    font-size: 15px;
    z-index: 3;
    
}
.content{
    position: absolute;
    top: 10 px;
    left: 100px;

}

#q {
    float: left;
    clear: right;
}
.textunderline {
    text-decoration: underline;
}
.color{
    color: black;
    text-decoration: none;
}

#coca {
    margin-right: 10px;
    width: 202px;
    height: 75px;

}
#cola{
    margin-top: 25px;
}

#part2{
    margin-left: 250px;
}
#flex1{
    width: 357.333px;
    height: 268px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: 0px;
    background-color: #f0e9e9 ;

}

.element-1{
    width: 357.333px;
    height: 597.067px;
    background-color: white;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
#first {
    font-family: "DM Sans";
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    padding-bottom: 0px;
    font-weight: bold;

}
#second{
    font-family: "Poppins";
    background-color: #ffffff;
    margin-top: 4px;
    padding: 15px;
    padding-top: 0px;
   

}
#third{
    font-family: "Poppins";
    background-color: #ffffff;
    font-weight: bold;
    padding: 15px;
    margin-top: 35px;

}
#fourth{
    text-decoration: underline;
}
.try{
    text-decoration: none;
    color: black;
}
.element-2{
    width: 357.333px;
    height: 597.067px;
    background-color: white;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
#flex{
    width: 357.333px;
    height: 268px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: 0px;
    background-color: #f0e9e9 ;
}
#firstof {
    font-family: "DM Sans";
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    padding-bottom: 0px;
    font-weight: bold;
}
#secondof{
    font-family: "Poppins";
    background-color: #ffffff;
    margin-top: 4px;
    padding: 15px;
    padding-top: 0px;
   

}
#thirdof{
    font-family: "Poppins";
    background-color: #ffffff;
    font-weight: bold;
    padding: 15px;
    margin-top: 35px;

}
#fourthof{
    text-decoration: underline;
}
.element-3{
    width: 357.333px;
    height: 597.067px;
    background-color: white;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
#flex2{
    width: 357.333px;
    height: 268px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: 0px;
    background-color: #f0e9e9 ;
}
#firstofof{
    font-family: "DM Sans";
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    padding-bottom: 0px;
    font-weight: bold;
}
#secondofof{
    font-family: "Poppins";
    background-color: #ffffff;
    margin-top: 4px;
    padding: 15px;
    padding-top: 0px;
   

}
#thirdofof{
    font-family: "Poppins";
    background-color: #ffffff;
    font-weight: bold;
    padding: 15px;
    margin-top: 35px;

}
#fourthofof{
    text-decoration: underline;
}
#container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#one{
    height: 75px;
    width: 150.267px;
}
#two{
    height: 75px;
    width: 99.75px;

}
#three{
    
    height: 75px;
    width: 148.6px;
}
#four{
    height: 75px;
    width: 91.25px;
    
}
#five{
    
    height: 75px;
    width: 104.45px;
    
}
#six{
    
    height: 75px;
    width: 147.55px;
}
#seven{
   
    height: 75px;
    width: 115.667px;
}
#one:hover{
    background-color: red;
    color: rgb(255, 255, 255);
}
#oner{
    padding: 13px;
    padding-left: 23px;
}
#two:hover{
    background-color: rgb(255, 115, 0);
    color: rgb(255, 255, 255);
}
#twor{
    padding: 13px;
    padding-left: 23px;

}
#three:hover{
    background-color:rgb(130, 216, 130);
    color: rgb(255, 255, 255);
}
#threer{
    padding: 13px;
    padding-left: 23px;

}
#four:hover{
    background-color: rgb(136, 233, 233);
    color: rgb(255, 255, 255);
}
#fourr{
    padding: 13px;
    padding-left: 23px;

}
#five:hover{
    background-color: #f1a90c;
    color: rgb(255, 255, 255);
}
#fiver{
    padding: 13px;
    padding-left: 23px;

}
#six:hover{
    background-color: rgb(255, 149, 78);
    color: rgb(255, 255, 255);
}
#sixr{
    padding: 13px;
    padding-left: 23px;

}
#seven:hover{
    background-color: rgba(255, 166, 0, 0.753);
    color: rgb(255, 255, 255);
}
#sevenr{
    padding: 13px;
    padding-left: 23px;

}

#icon1{
    margin-left: 25px;
    height: 75px;
    width: 40px;
}
#ico1{
    margin: 10px;
    margin-top: 26px;
}
#icon2{
    height: 75px;
    width: 40px;
}
#ico2{
    margin: 10px;
    margin-top: 26px;
}
#icon3{
    height: 75px;
    width: 40px;
}
#ico3{
    margin: 10px;
    margin-top: 26px;
}
.element{
    transition: 0.3s ease-in;
}
.element:hover{
 box-shadow: 1px 5px 9px rgba(128, 128, 128, 0.63);
 scale: 1.05;
 transition-property: scale;
 transition: 0.3s ease-out;
 transition-property: box-shadow;
 transition: 0.3s ease-out;
}


#overh1{
    font-family: "DM Sans";
    margin-right: 40px;
    margin-left: 70px;
    font-size: 34px;
    margin-bottom: 0px;

}
#overp1{
    font-family: "Poppins";
    margin-right: 50px;
    margin-left: 70px;
    font-size: 17px;
}
#overbutton{
    border-radius: 55px;
    width: 312px;
    height: 42px;
    border: 2.2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 15px;
    margin-top: 160px;
    margin-left: 70px;

}
#overbutton:hover{
     background-color: rgba(211, 211, 211, 0.63);
     box-shadow: 01px 01px 1px black;
}
#overbutton:active{
    background-color: black;
    color: white;
}


#underlapimg {
    height: 556.773px;
    width: 640px;
    border-radius: 14px;
    margin-left: 595px;
    margin-top: -470px;
    z-index: 1;
}
.overlap{
    height: 502px;
    width: 546px;
    background-color: white;
    padding-top: 50px;
    border-radius: 18px;
    margin-left: 117px;
    position: relative;
    z-index: 2;
}
#overbutton1{
    border-radius: 55px;
    width: 312px;
    height: 42px;
    border: 2.2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 15px;
    margin-top: 60px;
    margin-left: 70px;
}
#overbutton1:hover{
    background-color: rgba(211, 211, 211, 0.63);
     box-shadow: 01px 01px 1px black;
}
#overbutton1:active{
    background-color: black;
    color: white;
}
.gh1{
    margin-top: 5px;
    margin-left: 695px;

}
#underlapimg1 {
    height: 556.773px;
    width: 640px;
    border-radius: 14px;
    margin-left: 117px;
    margin-top: -470px;
    z-index: 1;
}
#lasthead{
    margin-top: 5px;
    margin-left: 520px;
    font-family: "DM Sans";
    font-weight: bolder;
    font-size: 37px;
}
.brands{
    height: 229.333px;
    width: 229.333px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.356);
    transition: 0.3s ease-in;
    
}


#company1{
    padding: 23px;
    height: 182.333px;
    width: 182.333px;
    
}
#company2{
    padding: 23px;
    height: 181.333px;
    width: 181.333px;
    
}
#company3{
    padding: 23px;
    height: 80.333px;
    width: 181.333px;
    padding-top: 74px;
    
}#company4{
    padding: 23px;
    height: 181.333px;
    width: 181.333px;
    
}#company5{
    padding: 23px;
    height: 181.333px;
    width: 181.333px;
    
}#company6{
    padding: 23px;
    height: 181.333px;
    width: 181.333px;
    
}#company7{
    padding: 23px;
    height: 181.333px;
    width: 181.333px;
    
}#company8{
    padding: 23px;
    height: 80.333px;
    width: 181.333px;
    padding-top: 74px;
    
}#company9{
    padding: 23px;
    height: 136.333px;
    width: 181.333px;
    padding-top: 45px;
    
}
.flexcontainer{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.brands:hover{
    scale: 1.07;
    transition-property: scale;
    transition: 0.3s  ease-out;
    -o-transition-timing-function: 100ms;
    
}
#lastbutton{
    border-radius: 55px;
    width: 312px;
    height: 42px;
    border: 2.2px;
    border-style: solid;
    border-color: black;
    background-color: black;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 15px;
    margin-left: 520px;
    color: white;
}
#lastbutton:hover {
    background-color: rgb(255, 0, 0);
     box-shadow: 01px 01px 1px black;
     border-color: red;
     

}

