body{ 
    background-color: #f0e9e9;
}
h1 {
    font-family: "Ubuntu";
    margin-left: 28%;
    

}
#box2 {
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    width: 465px;
    height: 150px;
    background-color: #ffffff;
    background-attachment: fixed;
    font-size: 17px;
    padding: 30px;
    padding-top: 0px;
    margin-left: 120px;
    float: left;
    clear: left;
    font-family: "Poppins";
    
}
#box1 {
    border: 5px;
    font-family: "DM Sans";
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    width: 500px;
    height: 50px;
    margin-top: 0px;
    margin-left: 120px;
    float: left;
    padding-left: 25px;

}
#img1 {
     margin-left: 120px;
     margin-bottom: 0%;
}
#img2 {
    margin-right: 120px;
    margin-bottom: 0%;
    margin-left: 20px;
}
#p1 {
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffffff;
    margin-left: 678px;
    width: 474px;
    height: 190px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    font-family: "Poppins";
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 17px;
    
}
#head {
    border: 5px;
    font-family: "DM Sans";
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    margin-left: 678px;
    width: 500px;
    height: 50px;
    padding-left: 25px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    
}
#__ {
    clear: left;
    float: left;
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    width: 465px;
    height: 30px;
    background-color: #ffffff;
    background-attachment: fixed;
    font-size: 17px;
    padding: 30px;
    padding-top: 0px;
    margin-left: 120px;
    font-weight: bold;
    font-family:  sans-serif;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    text-decoration: underline;
}

#tu {
    float: right;
    clear: right;
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    width: 465px;
    height: 27px;
    background-color: #ffffff;
    background-attachment: fixed;
    font-size: 17px;
    padding: 30px;
    padding-top: 0px;
    font-weight: bold;
    font-family:  sans-serif;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    text-decoration: underline;
    margin-right: 137px;
    margin-top: 0px;
}
#menubar {
    margin-top: 0px;
    border-bottom: 1px solid;
    border-style: solid;
    border-color: black;
    background-color: white;
    height: 70px;
    border-top: 0px;
    border-left: 0px; 
    border-right:0px;

}
#bod{
    margin: 0px;
    
}
